<%= cl_image_tag("https://res.cloudinary.com/dfyjo6jxs/image/upload/v1591654651/test_wsoqq2.jpg", width: 800, height: 300) %>
<div class="container d-flex justify-content-center">
  <div data-aos="fade-right" data-aos-offset="10">
  <div class="card" style="width: 50rem; height: 18rem;">
    <div class="card-body">
      <h5 class="card-title text-center">A propos</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus dolorum eligendi eos esse eum fugit in, iusto libero nostrum odio officia officiis qui quos recusandae tenetur ut vitae voluptate.</span><span>Atque maiores minus ratione. Aliquid animi aperiam consequatur dolorem eaque enim laboriosam maiores placeat praesentium quas, quis quo sint velit veritatis, voluptas. Ab deserunt esse ex, facilis inventore molestiae sunt!</span><span>Aspernatur commodi eius id natus ullam. Blanditiis consequatur distinctio dolore eaque facilis harum illum natus quas quos tempora! Amet eaque error natus numquam obcaecati possimus praesentium quaerat quidem vero, voluptatum.</span></p>
    </div>
  </div>
  </div>



  <div class="container d-flex justify-content-center">
    <div data-aos="fade-right" data-aos-offset="10">
      <div class="card" style="width: 50rem; height: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">A propos</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">
            <h1>salut à tous </h1>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus dolorum eligendi eos esse eum fugit in, iusto libero nostrum odio officia officiis qui quos recusandae tenetur ut vitae voluptate.</span><span>Atque maiores minus ratione. Aliquid animi aperiam consequatur dolorem eaque enim laboriosam maiores placeat praesentium quas, quis quo sint velit veritatis, voluptas. Ab deserunt esse ex, facilis inventore molestiae sunt!</span><span>Aspernatur commodi eius id natus ullam. Blanditiis consequatur distinctio dolore eaque facilis harum illum natus quas quos tempora! Amet eaque error natus numquam obcaecati possimus praesentium quaerat quidem vero, voluptatum.</span></p>
        </div>
      </div>
    </div>
  </div>
</div>