.banner {
  color: green;
  text-align: center;
  height: 60vh;
  background-size: cover !important;
  background-position: center;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}